table, th, td{
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px 10px;
}

table{
  margin: 0 auto;
}

thead, tfoot{
  background-color: yellow;
  text-align: left;
}

tfoot{
  text-align: right;
}

tr:nth-child(even){
  background-color: yellow;
}

.years{
  text-align: right;
}

.dep{
  vertical-align: top;
  background-color: white;
}

figure{
  margin: 20 auto;
}

figcaption{
  text-align: center;
}
